{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block main %}

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<center>
<font color="white"><h4>Central Helpline Number for corona-virus: -<b> +91-11-23978046 </b></h4></font>
<font color="white"><h4>Toll Free -<b> 1075</b></h4></font>
</center>
<br><br>
<div class="container-main">
	<div class="row">
	<div class="col-sm-6">
		<center>
		<img src="static\SUPPORT_PIC\covid-sympton2.jpg" height="600px" width="600px">
	</center>
	</div>
	<div class="col-sm-6">
		<center>
		<img src="static\SUPPORT_PIC\covid-precaution.jpg" height="600px" width="600px">
	</center>
	</div>
</div>
</div>
{% endblock %}
